---
import { getCollection } from "astro:content"
export async function getStaticPaths() {
    const people = await getCollection('people');

    return people.map((p) => {
        return {
            params: {
                person: p.id,
            },
            props: {
                person: people,
            }
        }
    })
}

const props = Astro.props;
---
<div>{JSON.stringify(props)}</div>