.btn {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 0.7;
}
.btn-primary-filled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}