---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="max-w-5xl px-6 mx-auto py-10">
		<h1 class="md-typescale-display-medium">Hello Material!</h1>
	</section>
	<section class="max-w-5xl px-6 mx-auto">
		
		<h1 class="md-typescale-display-small">Hello Material!</h1>
		<h1 class="md-typescale-display-medium">Hello Material!</h1>
		<h1 class="md-typescale-display-large">Hello Material!</h1>
	
		<h1 class="md-typescale-body-small">Hello Material!</h1>
		<h1 class="md-typescale-body-medium">Hello Material!</h1>
		<h1 class="md-typescale-body-large">Hello Material!</h1>
	
		<h1 class="md-typescale-headline-small">Hello Material!</h1>
		<h1 class="md-typescale-headline-medium">Hello Material!</h1>
		<h1 class="md-typescale-headline-large">Hello Material!</h1>
	
		<h1 class="md-typescale-title-small">Hello Material!</h1>
		<h1 class="md-typescale-title-medium">Hello Material!</h1>
		<h1 class="md-typescale-title-large">Hello Material!</h1>
	
		<h1 class="md-typescale-label-small">Hello Material!</h1>
		<h1 class="md-typescale-label-medium">Hello Material!</h1>
		<h1 class="md-typescale-label-large">Hello Material!</h1>
		<md-outlined-button>Back</md-outlined-button>
		<md-filled-button>Complete</md-filled-button>
	</section>
</Layout>
