---
import { Icon } from "astro-icon/components"

const menuLinks =  [
    {
        label: "Speakers",
        href: "#speakers",
    },
    {
        label: "Agenda",
        href: "#agenda",
    },
    {
        label: "Faq",
        href: "#faq",
    }
]
---
<header class="header">
    <div class="max-w-5xl w-full mx-auto px-6 py-2 flex items-center justify-between gap-4">
        <a href="/" class="inline-flex gap-2 items-center ">
            <img src="/favicon_gdg.webp" alt="" class="h-8" />
            <div class=""> | </div>
            <div>
                <img src="/logo-transparent.png" alt="" class="h-6" />
            </div>
        </a>
        <nav class="ml-auto hidden ">
            <ul class="flex items-center gap-2">
                {menuLinks.map((item) => (
                    <li>
                        <a href={item.href} class="py-2 px-1 block text-base link-text transition-colors">{item.label}</a>
                    </li>
                ))}
            </ul>
        </nav>
        <div>
            <button data-button-id="dark-toggle" class="py-2 px-1 cursor-pointer group light">
                <Icon name="mdi:moon-and-stars" class="w-6 h-6 link-text group-[.light]:hidden" />
                <Icon name="mdi:white-balance-sunny" class="w-6 h-6 link-text group-[.dark]:hidden" />
            </button>
        </div>
        <nav class="hidden">
            <ul>
                <li>
                    <a href="#" class="btn btn-primary-filled transition-all">Regístrate</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
 
<style>
    .header {
        background-color: var(--md-sys-color-secondary-container);
        border-bottom: 2px solid var(--md-sys-color-primary-container);
    }
    .link-text {
        color: var(--md-sys-color-primary);
    }
    .link-text:hover {
        color: var(--md-sys-color-secondary);
    }
</style>

<script>
    const e = document.querySelector('[data-button-id="dark-toggle"]')
    if (e) {
        const isDark = localStorage.getItem('isTheme') ?? false

        if (isDark) {
            document.documentElement.classList.add('dark')
            e.classList.add('dark')
            e.classList.remove('light')
        } else {
            e.classList.add('light')
            e.classList.remove('dark')
        }

        e.addEventListener('click', () => {
            const isDark = !!localStorage.getItem('isTheme')
            if (isDark) {
                localStorage.removeItem('isTheme')
                document.documentElement.classList.remove('dark')
                e.classList.add('light')
                e.classList.remove('dark')
            } else {
                localStorage.setItem('isTheme', 'true')
                document.documentElement.classList.add('dark')
                e.classList.add('dark')
                e.classList.remove('light')
            }
        })
    }
</script>