---
import { Icon } from "astro-icon/components"
import { cn } from "./../util/cn";
import { button } from "../styles/button";
const menuLinks =  [
    {
        label: "Agenda",
        href: "#agenda",
    },
    {
        label: "Preguntas Frecuentes",
        href: "#faq",
    }
]

---
<header class="header flex justify-center">
    <div class="max-w-5xl w-full mx-auto px-6 py-2 flex items-center justify-between gap-4 h-16">
        <a href="/" class="inline-flex gap-2 items-center">
            <img src="/img/logo-iwd-gdg.webp" alt="IWD 2025 & GDG El Alto" class="h-8" >
        </a>
        <nav class="ml-auto hidden md:block">
            <ul class="hidden items-center gap-2">
                {menuLinks.map((item) => (
                    <li>
                        <a href={item.href} class={button()}>{item.label}</a>
                    </li>
                ))}
            </ul>
        </nav>
        <div class="ml-auto md:ml-0">
            <button data-button-id="dark-toggle" class="py-2 cursor-pointer group light rounded-full px-2" aria-label="Dark Mode toggle">
                <Icon name="mdi:moon-and-stars" class="w-6 h-6 link-text group-[.light]:hidden" />
                <Icon name="mdi:white-balance-sunny" class="w-6 h-6 link-text group-[.dark]:hidden" />
            </button>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="https://gdg.community.dev/events/details/google-gdg-el-alto-presents-international-womens-day-2025-el-alto-redefine-possible/" target="_blank" class={cn(button({ style: "filled", className: "" }))}>
                        <span>Únete</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
 
<style>
    .header {
        background-color: transparent;
    }
    .link-text {
        color: var(--md-sys-color-primary);
    }
    .link-text:hover {
        color: var(--md-sys-color-secondary);
    }
</style>

<script>
    const e = document.querySelector('[data-button-id="dark-toggle"]')
    if (e) {
        const isDark = localStorage.getItem('isTheme') ?? false

        if (isDark) {
            document.documentElement.classList.add('dark')
            e.classList.add('dark')
            e.classList.remove('light')
        } else {
            e.classList.add('light')
            e.classList.remove('dark')
        }

        e.addEventListener('click', () => {
            const isDark = !!localStorage.getItem('isTheme')
            if (isDark) {
                localStorage.removeItem('isTheme')
                document.documentElement.classList.remove('dark')
                e.classList.add('light')
                e.classList.remove('dark')
            } else {
                localStorage.setItem('isTheme', 'true')
                document.documentElement.classList.add('dark')
                e.classList.add('dark')
                e.classList.remove('light')
            }
        })
    }
</script>